* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
/* general */
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}
.btn{
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
main{
    padding-top: 5rem;
}
.card{
    border-radius: 1.5em;
    padding: 1.5rem;
}
p{
    margin-bottom: 1.5rem;
}
/* navbar */
.nav-top{
    background-color: #0084FD;
    height: 4.7rem;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}
.nav-top .container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}
.nav-top ul{
    display: none;
}
.hamburgher{
    font-size: 2rem;
    padding: 1rem;
    color: white;
}
.nav-top img{
    padding: 1rem;
} 

/* main */
main .first .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
main .first .card{
    background-color: #B5DDFF;
    padding-bottom: 0;
    text-align: center;
    flex-basis: 100%;
}
#big{
    text-align: left;
}
main .first .card h2{
    color: #0084FD;
    margin-bottom: 1rem;
}
main .first .card>h1{
    color: #0084FD;
    margin-bottom: 1rem;
    font-size: 100px;
}
main .first .card {
    text-align: center;
}
main .first .card a{
    background-color: #0084FD;
    color: white;
    text-align: center;
    margin: 1rem;
    width: 80%;
}
main .card img{
    max-width: 80%;
    margin:1rem 10% 0 10%;
    margin-bottom: -5px;
}
main .card .text p{
    margin-bottom: 1rem;
}
main .second{
    background-color: #9792E4;
    padding-bottom: 2rem;
}
main .second img{
    margin:2rem ;
    width: 90%;
    
}
main .big-planning{
    color: white;
}
main .big-planning h1{
    font-size: 150%;
}
main .second .card{
    background-color: white;
    text-align: center;
}
main .second .card a{
    background-color: #9792E4;
    border-radius: 100%;
    padding: 0.7rem 1rem;
}
main .third{
    margin: 2rem 0;
}
main .third .testimonial{
    text-align: center;
}
main .third h1{
    color: #9792E4;
    margin: 1rem;
}
main .third .card{
    background-color: #9792E4;
}




/* media e animazioni */
@media screen and (min-width: 811px) {
    .nav-top ul{
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    .nav-top li{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        text-decoration: none;
    }
    .nav-top li a{
        color: white;
    }
    .nav-top li .btn{
        background-color: white;
        color: black;
    }
}
@media screen and (min-width:376px) {
    main .first .card {
        flex-basis: calc((100% - 2rem) / 3);
    }
    #big{
        flex-basis: calc(100% - calc((100% - 2rem) / 3) - 1rem);
    }

}   
   